<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />

    <title><%= @app['name'] %></title>
    <link rel="stylesheet" href="stylesheets/screen.css" media="Screen" type="text/css" />

    <!-- These are Open Graph tags.  They add meta data to your  -->
    <!-- site that facebook uses when your content is shared     -->
    <!-- over facebook.  You should fill these tags in with      -->
    <!-- your data.  To learn more about Open Graph, visit       -->
    <!-- 'https://developers.facebook.com/docs/opengraph/'       -->
    <meta property="og:title" content="<%= @app['name'] %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= url %>" />
    <meta property="og:image" content="<%= url('/logo.png') %>" />
    <meta property="og:site_name" content="<%= @app['name'] %>" />
    <meta property="og:description" content="My First App" />
    <meta property="fb:app_id" content="<%= @app['name'] %>" />

    <script type="text/javascript" src="/javascripts/jquery-1.7.1.min.js"></script>

  </head>
  <body>
    <div id="fb-root"></div>
  </body>
</html>
